body {
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    /*width: 100%;*/
    max-width: 100%;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

header {
    width: 100%;
    font-family: 'Cinzel', serif;
    border-bottom: 1px solid black;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

#main-heading {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

#heading-accent {
    color: #B0AAD8;
    font-weight: bold;
}

#sub-heading {
    display: none;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

#item-tile-container {
    width: 100%;
}

.page-title {
    width: 100%;
    text-align: center;
    color: #8E89AD;
    font-size: 1em;
    margin-top: -1em;
    margin-bottom: .9em;
}

.item-page-price {
    display: none;
    width: 100%;
    color: #8E89AD;
}

.tile {
    width: 100%;
    margin-bottom: 1.5em;
}

.item-info {
    text-align: center;
}

.item-title {
    font-size: 1em;
    font-weight: bold;
}

.item-price {
    font-size: .9em;
}

.item-description {
    display: none;
    text-align: justify;
}

footer {
    width: 100%;
    text-align: center;
    font-size: .7em;
    margin-bottom: 1em;
}

footer a {
    text-decoration: underline;
}

@media screen and (min-width: 450px) {
    header {
        border-bottom: none;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #main-heading {
        font-size: 1.8em;
        font-weight: normal;
    }

    #heading-accent {
        font-weight: bold;
    }

    #sub-heading {
        display: block;
        font-size: 1.7em;
        background-color: #F1EFFF;
        padding-bottom: .1em;
    }

    .page-title {
        font-size: 1.3em;
        font-weight: normal;
        border-top: 1px solid #B0AAD8;
        margin-top: -.2em;
    }

    .tile {
        width: 44%;
        margin-left: 4%;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 650px) {
    .page-title {
        font-size: 1.9em;
        margin-bottom: .3em;
    }

    .item-title {
        font-size: 1.4em;
        font-weight: normal;
        padding-bottom: .3em;
        border-bottom: 1px solid black;
    }

    .item-price {
        font-size: .9em;
    }

    .item-description {
        display: block;
        margin-top: 1em;
    }

    footer {
        font-size: .8em;
    }
}

@media screen and (min-width: 850px) {
    #main-heading {
        font-size: 2.3em;
    }

    #sub-heading {
        font-size: 1.9em;
    }

    .tile {
        width: 28%;
    }
}

@media screen and (min-width: 1100px) {
    .item-image-container {
        height: 250px;
    }

    .item-image {
        max-height: 250px;
        margin: 0 auto;
    }

    #main-heading {
        font-size: 3em;
        text-align: right;
    }

    #sub-heading {
        font-size: 2.1em;
        text-align: right;
        padding-right: .2em;
        border-top-left-radius: 2em;
    }

    #main-container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .page-title {
        text-align: left;
        font-size: 1.8em;
        line-height: 1em;
        margin-bottom: 1em;
    }

    .item-page-price {
        display: block;
        text-align: right;
        font-size: 1.2em;
        margin-top: -3.1em;
    }

    .tile {
        width: 22%;
    }

    .tile:nth-child(4n+1) {
        margin-left: 0;
    }

    .item-title {
        font-size: 1.6em;
        padding-bottom: .3em;
        margin-bottom: .2em;
    }

    .item-price {
        font-size: 1em;
    }

    .item-description {
        font-size: 1.2em;
    }

    footer {
        font-size: .9em;
    }
}