{% extends 'layout.html' %}
{% block content %}

<h2>Edit Item</h2>

<form action="{{url_for('edit_item', item_id = item.id)}}" method="POST">
    <input type="text" size="30" name="name" value="{{item.name}}"><br>
    <input type="textarea" name="description" value="{{item.description}}"><br>
    <input type="text" size="10" name="price" value="{{item.price}}"><br>
    <input type="submit" value="Submit">
    <a href="{{url_for('show_item', category_id = item.category_id, item_id = item.id)}}">Cancel</a>
</form>

{% endblock %}