<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{{ url_for('show_main') }}">{{ "" | title }}</a></h1>

            {% if 'username' not in session %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

            <nav>
                {% for category in categories %}
                <li>
                    <a href="{{ url_for('show_items', category_id = category.id) }}">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </nav>
        </header>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <footer>
            This is the footer
        </footer>
    </div>
</body>
</html>
