<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            This is the header
            <nav>
                {% for category in categories %}
                <li>
                    <a href="{{ url_for('show_items', category_id = category.id) }}">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>
            This is the footer
        </footer>
    </div>
</body>
</html>