{% extends 'layout.html' %}
{% block title %}{{ "Create New Item" | title }}{% endblock %}

{% block content %}

<h2>New Item</h2>

<form action="{{ url_for('new_item') }}" method="POST">
    Name:<br>
    <input type="text" size="30" name="name"><br><br>
    Category:<br>
    <select name="category_id">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>
    Description:<br>
    <textarea rows="10" cols="50" name="description"></textarea><br><br>
    Price:<br>
    <input type="text" size="10" name="price"><br><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}