<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href='https://fonts.googleapis.com/css?family=Sacramento'
        rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel:400,700'
        rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Reenie+Beanie'
        rel='stylesheet'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start"
        async defer>
    </script>
</head>
<body>
    <div class="container" id="main-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="flash">
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <header>
            <div id="signin-container">
                {% if not logged_in() %}
                <div id="google-button">
                    <div class="g-signin"
                        data-scope="https://www.googleapis.com/auth/userinfo.email"
                        data-clientid="191985455830-6rgo9t6ossaspcr620aant7tq4lq4g3f.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                    </div>
                </div>
                {% else %}
                <a id="signout-button" href="#">Sign Out [{{ session['username'] }}]</a>
                {% endif %}
            </div>
            <h1 id="main-heading">
                <a href="{{ url_for('show_main') }}">
                    <span class="music-notes">♫</span>
                    The <span id="heading-accent">Music</span> Shop
                    <span id="notes-two" class="music-notes">♫</span>
                </a>
            </h1>
            <h2 id="sub-heading">
                <a href="/">Providing tools for creative expression.</a>
            </h2>

            <div id="hamburger">☰</div>
            <nav>
                <ul id="nav-list">
                    {% if standard_rights() %}
                    <li class="nav-link nav-user">
                        <a href="{{ url_for('show_user_items') }}">My Items</a>
                    </li>
                        {% if admin_rights() %}
                        <li class="nav-link nav-user">
                            <a href="{{ url_for('user_management') }}">User Management</a>
                        </li>
                        {% endif %}
                    <br>
                    {% endif %}
                    {% for category in categories %}
                    <li class="nav-link">
                        <a href="{{ url_for('show_items', category_id = category.id) }}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            &copy; 2015 | Site developed by
            <a href="http://www.richgieg.com" target="_blank">Richard Gieg</a><br>
            Item descriptions &copy; 2015 <a href="http://www.musiciansfriend.com" target="_blank">Musician's Friend Inc.</a>
        </footer>
    </div>

    {% if not logged_in() %}
        <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                    // Send the one-time-use code to the server. If the server
                    // responds, write a 'login successful' message to the page
                    // and then redirect back to the main restaurants page.
                    var fd = new FormData();
                    fd.append('code', authResult['code']);
                    fd.append('_csrf_token', '{{ csrf_token() }}')
                    $.ajax({
                        type: 'POST',
                        url: "/gconnect",
                        processData: false,
                        contentType: false,
                        data: fd,
                        success: function(result) {
                            if (result) {
                                window.location.href = '{{ request.path }}';
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(errorThrown + ' - ' + jqXHR.responseText);
                        }
                    });
                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
        </script>
    {% else %}
        <script>
            $('#signout-button').click(function() {
                var fd = new FormData();
                fd.append('_csrf_token', '{{ csrf_token() }}')
                $.ajax({
                    type: 'POST',
                    url: "/gdisconnect",
                    processData: false,
                    contentType: false,
                    data: fd,
                    success: function(result) {
                        if (result) {
                            window.location.href = '{{ request.path }}';
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown + ' - ' + jqXHR.responseText);
                    }
                });
            });
        </script>
    {% endif %}

    <script>
        // Fade out the flash message div.
        $(document).ready(function() {
            setTimeout(function() {
                $('#flash').fadeOut(2000);
            }, 2000);
        });

        // Toggle the navigation menu when the hamburger icon is clicked.
        $('#hamburger').click(function() {
            $('nav').toggle(500);
        });
    </script>

</body>
</html>
