{% extends 'layout.html' %}
{% block title %}{{ ("New Item (%s)" % category.name) | title }}{% endblock %}

{% block content %}

<h2 class="page-title">New Item ({{ category.name }})</h2>

<div class="container" id="form-container">
    <form action="{{ url_for('new_item', category_id = category.id) }}"
            enctype="multipart/form-data" method="POST">
        <label for="input-name">Name</label>
        <input id="input-name" class="text-field" type="text" size="30" name="name"
            maxlength="256" required><br><br>
        <label for="input-short-description">Short Description</label>
        <textarea id="input-short-description" class="text-field" rows="5"
            name="short_description" maxlength="256" required></textarea><br><br>
        <label for="input-description">Description</label>
        <textarea id="input-description" class="text-field" rows="10"
            name="description" maxlength="1024" required></textarea><br><br>
        <label for="input-price">Price</label>
        <input id="input-price" class="text-field" type="text" size="10"
            name="price" placeholder="$999.99" maxlength="10" required><br><br>
        <label for="input-file">Image</label>
        <input id="input-file" class="text-field" type="file" name="image_file"><br><br>
        <br><br>
        <div class="form-button-container">
            <input class="button" type="submit" value="Save">
            <a class="button" href="{{ url_for('show_items', category_id = category.id) }}">Cancel</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
</div>

{% endblock %}
