{% extends 'layout.html' %}
{% block title %}{{ ("New Item (%s)" % category.name) | title }}{% endblock %}

{% block content %}

<h2 class="page-title">New Item ({{ category.name }})</h2>

<form action="{{ url_for('new_item', category_id = category.id) }}"
      enctype="multipart/form-data" method="POST">
    Name:<br>
    <input type="text" size="30" name="name"><br><br>
    Short Description:<br>
    <textarea rows="5" cols="50" name="short_description"></textarea><br><br>
    Description:<br>
    <textarea rows="10" cols="50" name="description"></textarea><br><br>
    Price:<br>
    <input type="text" size="10" name="price"><br><br>
    Image:<br>
    <input type="file" name="image_file"><br><br>
    <input type="submit" value="Save">
    <a href="{{ url_for('show_items', category_id = category.id) }}">Cancel</a>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>

{% endblock %}
