{% extends 'layout.html' %}
{% block title %}{{ category.name | title }}{% endblock %}

{% block content %}

<h2 class="page-title">{{ category.name }}</h2>

{% if logged_in() %}
<div class="item-action-container">
    <a class="button" href="{{ url_for('new_item', category_id = category.id) }}">New Item</a>
</div>
{% endif %}

{% if items %}
<div class="container" id="item-tile-container">
    {% for item in items %}
    <div class="tile">
        <a href="{{ url_for('show_item', category_id = item.category_id, item_id = item.id) }}">
            <div class="item-image-container">
                <img class="item-image" src="{{ item.image_path }}" alt="Image of {{ item.name }}">
            </div>
            <div class="item-info">
                <h3 class="item-title">{{ item.name }}</h3>
                <span class="item-price">{{ item.price }}</span>
                <p class="item-description">{{ item.short_description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
{% else %}
<p class="no-items">No items to display.</p>
{% endif %}
</div>

{% endblock %}
