{% extends 'layout.html' %}
{% block title %}{{ item.name | title }}{% endblock %}

{% block content %}

<h2 class="page-title">{{ item.name }}</h2>

{% if user_authorized %}
<div class="item-action-container">
    <a class="button" href="{{ url_for('edit_item', category_id = item.category_id, item_id = item.id) }}">Edit</a>
    <a class="button" href="{{ url_for('delete_item', category_id = item.category_id, item_id = item.id) }}">Delete</a>
</div>
{% endif %}

<div class="container" id="item-page-container">
    <p class="item-page-price">{{ item.price }}</p>
    <p class="item-page-description">{{ item.description }}</p>
    <div class="item-page-image-container">
        <img class="item-page-image" src="{{ item.image_path }}" alt="Image of {{ item.name }}">
    </div>
</div>

{% endblock %}
